<?xml version="1.0"?>

<launch>
  
  <!-- first run the gazebo with "use_sim_time" -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find mobile_hubo_ow)/world/DRC_HUBO.world"/>
  </include>


  <!-- spawn the robot model in the gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -file /home/rainbow/.gazebo/models/mobile_hubo_OW/mobile_hubo_OW.urdf -model mobile_hubo_OW" respawn="false" output="screen" />

  <!-- set param "robot_description" with URDF model -->
  <arg name="model" default="/home/rainbow/.gazebo/models/mobile_hubo_OW/mobile_hubo_OW.urdf"/>
  <param name="robot_description" textfile="$(find mobile_hubo_ow)/urdf/mobile_hubo_OW.urdf" />

  <!-- turn on the robot_state_publisher for /tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  
  <!-- Joint_state_publisher for rviz joint info -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> </node>

  <!-- turn on the rviz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_hubo_ow)/drc.rviz"/>



</launch>
