<?xml version="1.0"?>

<model>
  <name>Mobile_hubo_OW</name>
  <version>1.0</version>
<!--
  <sdf version='1.4'>DRC_hubo.sdf</sdf>
-->
  <sdf>mobile_hubo_OW.urdf</sdf>

  <author>
<!--
    <name>Jeongsoo Lim</name>
    <email>yjs0497@kaist.ac.kr</email>
-->
  </author>

  <description>
    mobile_hubo_OW
  </description>
</model>
